<% include _header%>
  <h4 align="center"><u>(management)</u></h4>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-9">

        <a href="/admin/management/new" class="btn btn-primary">ADD</a>
        <table class="table table-bordered table-hover ">
          <thead>
            <tr>
              <th>No</th>
              <th>username</th>
              <th>ชื่ออพาร์ทเมนท์</th>

              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% if (data) { %>
              <% for(var i = 0; i < data.length; i++) { %>
                <tr>
                  <td> <%= (i+1) %> </td>
                  <td> <%= data[i].localid %> </td>
                  <td> <%= data[i].Apname %> </td>

                  <td>
                    <a href="/admin/management/delete/<%= data[i].No %>" class="btn btn-danger"> Delete </a>
                    <a href="/admin/management/update/<%= data[i].No %>" class="btn btn-info"> Update </a>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% include _footer%>
