<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
            <% if(data3) { %>
              <form action="/admin/monthlyelectric/update/<%=data3[0].id%>" method="post">
            <% } else { %>
              <form action="/admin/monthlyelectric/add" method="post">
            <% } %>

              <div class="form-group">
                <label>apartment</label> <a href="/admin/apartment/new">เพิ่ม</a>
                <select class="form-control" name="apartment_id">
                  <option>กรุณาเลือก</option>
                  <% if(data1){ %>
                  <%  for(var i=0; i<data1.length; i++){ %>
                      <option value="<%= data1[i].id %>" <% if(data3) if(data1[i].id == data3[0].apartment_id){ %> selected <% } %>> <%= data1[i].name %> </option>
                   <%}%>
                  <%}%>
                </select>
              </div>
              <div class="form-group">
                <label>ประเภทห้อง </label> <a href="/admin/roomtype/new">เพิ่ม</a>
                <select class="form-control" name="roomtype_id">
                  <option>กรุณาเลือก</option>
                  <% if(data2){ %>
                  <%  for(var i=0; i<data2.length; i++){ %>
                      <option value="<%= data2[i].id %>" <% if(data3) if(data2[i].id == data3[0].roomtype_id){ %> selected <% } %>> <%= data2[i].name %> </option>
                   <%}%>
                  <%}%>
                </select>
              </div>
              <div class="form-group">
                <label>หมายเลขห้อง </label>
                <% if(data3){ %>
                <input type="text" name="name" value="<%= data3[0].name %>"  class="form-control">
              <% } else { %>
                <input type="text" name="name" value="" placeholder="name" class="form-control">
              <% } %>
            </div>

              <div class="form-group">
                <label>ราคา (PRICE)</label>
                <% if(data3){ %>
                <input type="text" name="price" value="<%= data3[0].price %>"  class="form-control">
              <% } else { %>
                <input type="text" name="price" value="" placeholder="price" class="form-control">
              <% } %>
            </div>
                <div class="form-group">
                  <label>ชั้น (FLOOR)</label>
                  <% if(data3){ %>
                  <input type="text" name="floor" value="<%= data3[0].floor %>"  class="form-control">
                <% } else { %>
                  <input type="text" name="floor" value="" placeholder="floor" class="form-control">
                <% } %>
                  </div>
                  <div class="form-group">
                  <label>USABLE </label>
                  <% if(data3){ %>
                  <input type="text" name="usable" value="<%= data3[0].usable %>"  class="form-control">
                <% } else { %>
                  <input type="text" name="usable" value="" placeholder="usable" class="form-control">
                <% } %>

                    </div>
                      <div class="form-group">
                    <label>รายละเอียด </label>
                    <% if(data3){ %>
                    <input type="text" name="detail" value="<%= data3[0].detail %>"  class="form-control">
                  <% } else { %>
                    <input type="text" name="detail" value="" placeholder="detail" class="form-control">
                  <% } %>

                  </div>
              <button type="submit" class="btn btn-primary">Save</button>
            </form>

        </div>
      </div>
    </div>
  </div>
</div>

<% include _footer %>
