<% include _header%>
  <h4 align="center"><u>ค่าน้ำ (monthlywater)</u></h4>
    <form action="/admin/monthlywater/addwater" method="post">
        <form action="/admin/monthlywater/submit/" method="post">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="col-sm-2">
        <div class="row">
        <div class="form-group">

             <select class="form-control" name="month">
                <option> กรุณาเลือกเดือน </option>
                <option value="1"  > มกราคม </option>
                <option value="2"  > กุมภาพันธ์ </option>
                <option value="3"  > มีนาคม </option>
                <option value="4"  > เมษายน </option>
                <option value="5"  > พฤษภาคม </option>
                <option value="6"  > มิถุนายน </option>
                <option value="7"  > กรกฏาคม </option>
                <option value="8"  > สิงหาคม </option>
                <option value="9"  > กันยายน </option>
                <option value="10"  > ตุลาคม </option>
                <option value="11"  > พฤจิกายน </option>
                <option value="12"  > ธันวาคม </option>

              </select>
              <select class="form-control" name="year">
                 <option> กรุณาเลือกปี </option>
                 <option value="1"  > 2018 </option>
                 <option value="2"  > 2019</option>
                 <option value="3"  > 2020 </option>
                 <option value="4"  > 2021 </option>
                 <option value="5"  > 2022 </option>

               </select>

                <button type="submit" class="btn btn-success">ค้นหา</button>
                </div>
              </div>
            </div>
        <table class="table table-bordered table-hover ">
          <thead>
            <tr>
              <th>No</th>
              <th>ชื่ออพาร์ทเมนท์</th>
              <th>หมายเลขห้อง</th>
              <th>ราคา</th>
              <th>เดือน</th>
              <th>ปี</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% if (data) { %>
              <% for(var i=0; i<data.length; i++) { %>
                <tr>
                  <td> <%= (i+1) %> </td>
                  <td> <%= data[i].Apname %> </td>
                  <td> <%= data[i].Rname %> </td>
                  <td> <%= data[i].Price %> </td>
                  <td> <%= data[i].month %> </td>
                  <td> <%= data[i].year %> </td>
                  <td>
                    <a href="/admin/monthlywater/delete/<%= data[i].No %>" class="btn btn-danger"> Delete </a>
                    <a href="/admin/monthlywater/update/<%= data[i].No %>" class="btn btn-info"> Update </a>
                  </td>
                </tr>
              <% } %>
            <% } %>
              <button type="submit" class="btn btn-primary">[แสดง]</button>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </form>
<% include _footer%>
